<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.ccxxicu.mapper.hisdata.DoctorsAdviceCodeMapper">


	<!-- 分页查询数据 -->
	<select id="selectPaging" resultMap="hisDoctorsAdviceCodeMap" parameterType="com.pig4cloud.pigx.ccxxicu.api.entity.hisdata.DoctorsAdviceCode">
		SELECT * from his_doctors_advice_code
		<where>
			del_flag = 0
			<if test="test.doctorsAdviceContent != null">
				and doctors_advice_content like CONCAT('%',#{test.doctorsAdviceContent},'%')
			</if>
			<if test="test.remarks != null">
				and remarks like CONCAT('%',#{test.remarks},'%')
			</if>

		</where>
	</select>


	<!-- 通过医嘱的内容查询当前医嘱的数据-->
	<select id="doctorsAdviceContent" resultMap="hisDoctorsAdviceCodeMap" parameterType="java.lang.String">
		SELECT * from his_doctors_advice_code
		<where>
		del_flag = 0
		<if test="doctorsAdviceContent != null">
			and doctors_advice_content = #{doctorsAdviceContent}
		</if>
		</where>


	</select>




  <resultMap id="hisDoctorsAdviceCodeMap" type="com.pig4cloud.pigx.ccxxicu.api.entity.hisdata.DoctorsAdviceCode">
                  <id property="id" column="id"/>
                        <result property="doctorsAdviceCodeId" column="doctors_advice_code_id"/>
                        <result property="doctorsAdviceContent" column="doctors_advice_content"/>
                        <result property="hospitalCode" column="hospital_code"/>
	  				    <result property="shortName" column="short_name"/>
                        <result property="remarks" column="remarks"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="delTime" column="del_time"/>
                        <result property="delUserId" column="del_user_id"/>
                        <result property="createTime" column="create_time"/>
                        <result property="createUserId" column="create_user_id"/>
            </resultMap>
</mapper>
