<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.ccxxicu.mapper.task.ChangeShiftsDescribeMapper">


	<!-- 通过任务id查询数据源-->
	<select id="getTaskId" resultMap="takChangeShiftsDescribeMap" parameterType="java.lang.String">
	select
	id,
	task_id,
	shifts_task_describe
	 from  tak_change_shifts_describe
	 where
	 task_id = #{taskId}
	</select>



	<!-- 交接班完成后删除表中所有数据 -->
	<select id="deleteAll" resultMap="takChangeShiftsDescribeMap">
		delete from tak_change_shifts_describe
	</select>



  <resultMap id="takChangeShiftsDescribeMap" type="com.pig4cloud.pigx.ccxxicu.api.entity.task.ChangeShiftsDescribe">
                  <id property="id" column="id"/>
                        <result property="taskId" column="task_id"/>
                        <result property="shiftsTaskDescribe" column="shifts_task_describe"/>
            </resultMap>
</mapper>
