<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.ccxxicu.mapper.illnessNursing.IllnessNursingStateMapper">

	<resultMap id="IllnessNursingStateMap"
			   type="com.pig4cloud.pigx.ccxxicu.api.entity.illnessNursing.IllnessNursingState">
		<id property="id" column="id"/>
		<result property="illnessNursingStateId" column="illness_nursing_state_id"/>
		<result property="illnessProjectId" column="illness_project_id"/>
		<result property="projectStateFlag" column="project_state_flag"/>
		<result property="projectState" column="project_state"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateUserId" column="update_user_id"/>
		<result property="delTime" column="del_time"/>
		<result property="delUserId" column="del_user_id"/>
	</resultMap>
	<sql id="Map_List">

		id,illness_nursing_state_id,illness_project_id,project_state_flag,project_state,
		nursing_advice,del_flag,create_user_id,create_time,update_user_id,del_time,del_user_id

	</sql>

	<resultMap id="Illness" type="com.pig4cloud.pigx.ccxxicu.api.vo.nursing.IllnessTree">
		<result property="projectName" column="project_name"/>
		<result property="projectCode" column="project_code"/>
		<result property="projectId" column="project_id"/>
		<result property="projectRecordValueFlag" column="project_Record_value_flag"/>
		<result property="illnessNursingTypeFlag" column="illness_nursing_type_flag"/>
		<result property="deptId" column="dept_id"/>
		<collection property="illness" resultMap="IllnessNursingState"/>
	</resultMap>

	<resultMap id="IllnessNursingState"
			   type="com.pig4cloud.pigx.ccxxicu.api.vo.nursing.IllnessNursingStateVo">
		<id property="id" column="id"/>
		<result property="illnessNursingStateId" column="illness_nursing_state_id"/>
		<result property="projectStateFlag" column="project_state_flag"/>
		<result property="projectState" column="project_state"/>
		<result property="delFlag" column="del_flag"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateUserId" column="update_user_id"/>
		<result property="delTime" column="del_time"/>
		<result property="delUserId" column="del_user_id"/>
		<collection property="illnessAdvices"
					select="com.pig4cloud.pigx.ccxxicu.mapper.illnessNursing.IllnessAdviceMapper.selectAdvice"
					ofType="com.pig4cloud.pigx.ccxxicu.api.entity.illnessNursing.IllnessAdvice"
					column="illness_nursing_state_id"
					/>
	</resultMap>

	<select id="selectTree" resultMap="Illness">
		SELECT
			ns.id,
			ns.illness_nursing_state_id,
			nip.illness_nursing_type_flag,
			nip.project_id,
			ns.project_state,
			ns.project_state_flag,
			ns.del_flag,
			ns.create_user_id,
			ns.create_time,
			ns.update_user_id,
			ns.del_time,
			ns.del_user_id,
			pl.project_code,
			pl.project_name,
			pl.project_Record_value_flag,
			pl.dept_id
		FROM
			nur_illness_nursing_state ns
		LEFT JOIN nur_illness_project nip ON nip.illness_project_id = ns.illness_project_id
		LEFT JOIN nur_project pl ON pl.project_id = nip.project_id
		WHERE
			pl.del_flag = 0
		AND ns.del_flag = 0
		AND nip.del_flag = 0
</select>


	<select id="getProjectState" resultType="com.pig4cloud.pigx.ccxxicu.api.vo.illnessNursing.IllnessProjectStateVo">
		SELECT
		ns.id,
		ns.illness_nursing_state_id,
		nip.project_id ,
		ns.project_state,
		ns.project_state_flag,
		pl.project_code ,
		pl.project_name ,
		ns.illness_project_id
		FROM
			nur_illness_nursing_state ns
		LEFT JOIN nur_illness_project nip ON nip.illness_project_id = ns.illness_project_id
		LEFT JOIN nur_project pl ON pl.project_id = nip.project_id
		where
		pl.del_flag = 0
		and ns.del_flag = 0
		and nip.del_flag = 0
		and ns.illness_project_id =#{illnessProjectId}

</select>



</mapper>
