<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.ccxxicu.mapper.drug.SpecialDrugsRegistrationMapper">

	<resultMap id="SpecialDrugsRegistrationMap"
			   type="com.pig4cloud.pigx.ccxxicu.api.entity.drug.SpecialDrugsRegistration">
		<id property="id" column="id"/>
		<result property="specialDrugsRegistrationId" column="special_drugs_registration_id"/>
		<result property="drugName" column="drug_name"/>
		<result property="drugSpecification" column="drug_specification"/>
		<result property="drugType" column="drug_type"/>
		<result property="drugLevel" column="drug_level"/>
		<result property="pharmacologicalAction" column="pharmacological_action"/>
		<result property="adverseReaction" column="adverse_reaction"/>
		<result property="drugTaboo" column="drug_taboo"/>
		<result property="remarks" column="remarks"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="delFlag" column="del_flag"/>
		<result property="delTime" column="del_time"/>
		<result property="delUserId" column="del_user_id"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateUserId" column="update_user_id"/>
	</resultMap>
</mapper>
