<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.ccxxicu.mapper.nurse.ArrangeParticipantMapper">

	<resultMap id="ArrangeParticipantMap" type="com.pig4cloud.pigx.ccxxicu.api.entity.nurse.ArrangeParticipant">
		<id property="id" column="id"/>
		<result property="arrangeParticipantId" column="arrange_participant_id"/>
		<result property="nurseId" column="nurse_id"/>
		<result property="deptId" column="dept_id"/>
		<result property="nurseGrade" column="nurse_grade"/>
		<result property="workShift" column="work_shift"/>
		<result property="count" column="count"/>
		<result property="startTime" column="start_time"/>
		<result property="createTime" column="create_time"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="delFlag" column="del_flag"/>
		<result property="delUserId" column="del_user_id"/>
		<result property="delTime" column="del_time"/>
	</resultMap>

	<sql id="Map_List">

		id,arrange_participant_id,nurse_id,dept_id,nurse_grade,count,work_shift,start_time,create_time,create_user_id,
		del_flag,del_user_id,del_time

	</sql>
	<!--查询某天某等级的班次数据-->
	<select id="getNurseByShift" parameterType="com.pig4cloud.pigx.ccxxicu.api.entity.nurse.ArrangeParticipant"
			resultMap="ArrangeParticipantMap">

		select
		<include refid="Map_List"/>
		from
		nur_arrange_participant
		where
		del_flag = 0
		<if test=" workShift != null">
			and
			work_shift = #{workShift}
		</if>
		<if test=" deptId != null">
			and
			dept_id = #{deptId}
		</if>
		<if test=" nurseGrade != null">
			and
			nurse_grade = #{nurseGrade}
		</if>
		<if test="startTime != null">
			and
			date_format(start_time,'%Y-%m-%d')= date_format(#{startTime},'%Y-%m-%d')
		</if>


	</select>






</mapper>
