<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.ccxxicu.mapper.nurse.DispensingDrugMapper">

  <resultMap id="nurDispensingDrugMap" type="com.pig4cloud.pigx.ccxxicu.api.entity.nurse.DispensingDrug">
                  <id property="id" column="id"/>
                        <result property="dispensingDrugId" column="dispensing_drug_id"/>
                        <result property="doctorsAdviceId" column="doctors_advice_id"/>
                        <result property="rfidId" column="rfid_id"/>
                        <result property="patientId" column="patient_id"/>
                        <result property="taskId" column="task_id"/>
                        <result property="droppingSpeed" column="dropping_speed"/>
                        <result property="druguse" column="druguse"/>
                        <result property="allergichistory" column="allergichistory"/>
                        <result property="nurseId" column="nurse_id"/>
                        <result property="deptId" column="dept_id"/>
                        <result property="createTime" column="create_time"/>
                        <result property="delFlag" column="del_flag"/>
                        <result property="delUserId" column="del_user_id"/>
                        <result property="delTime" column="del_time"/>
            </resultMap>

	<select id="getDispensingDrugByTaskId" parameterType="java.lang.String" resultMap="nurDispensingDrugMap" >
		select
		*
		from nur_dispensing_drug disp
		<where>
			<if test="taskId != null">
				and disp.task_id = #{taskId}
			</if>
		</where>
	</select>
</mapper>
